@charset "utf-8";
/* 상단 */
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
}
.header-bg {
  width: 100%;
  height: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 80px;
  left: 0;
  transition: all 0.5s;
}
.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1800px;
  margin: auto;
}
.logo {
  width: 220px;
  max-width: 220px;
  min-width: 220px;
}
.logo img {
  width: 100%;
}
.nav {
  width: calc(178px * 6);
  /* max-width: calc(178px * 6);
  min-width: calc(100% - 397px); */
}
.gnb {
  display: flex;
  gap: 20px;
  /* font-size: 19px; */

  height: 80px;
}
.gnb > li {
  width: calc(100% / 6);
  /* height: 80px; */
}
.gnb > li > a {
  display: block;
  line-height: 80px;
  width: 100%;
  font-weight: 500;
}
.gnb > li:hover > a {
  color: crimson;
}
.depth2 {
  padding: 50px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  /* background-color: #333; */
}
.gnb:hover .depth2 {
  opacity: 1;
  visibility: visible;
}
.depth2 > li > a {
  /* display: block; */
  line-height: 30px;
  width: 100%;
  color: #ffffff;
  /* font-weight: 300;
  font-size: 14px; */
}
.depth2 > li:hover > a {
  color: crimson;
}
.lg {
  display: flex;
  width: 177px;
  gap: 10px;
}
.lg > a {
  width: 68px;
}
.lg > a > img {
  width: 100%;
}
.lg-list {
  display: flex;
  width: calc(100% - 68px);
  padding-top: 7px;
}
.lg-list > li {
  width: calc(100% / 2);
  text-align: center;
  position: relative;
}
.lg-list li::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
  width: 1px;
  height: 11px;
  background-color: #999;
}
.lg-list li:first-child::after {
  content: none;
}
.lg-list > li > a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #888;
}
.lg-list > li:nth-child(2) a {
  color: #333;
  /* background-color: aqua; */
}
